:root {

  /* https://iamkate.com/data/12-bit-rainbow/ */
  --mgn: #817;
  --red: #a35;
  --pch: #c66;
  --orn: #e94;
  --ylw: #ed0;
  --lim: #9d5;
  --grn: #4d8;
  --tqs: #2cb;
  --sky: #0bc;
  --blu: #09c;
  --nav: #36b;
  --prp: #639;

  --bgOpacity: 25%;
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

.show {
  body {
    font-size: 3vw;
    margin: 0
  }

  main {
    scroll-snap-type: block mandatory;
    scroll-snap-stop: always;
    overflow-y: scroll;
    height: 100vh;
  }

  main > div {
    height: 100vh;
    width: 100%;
    padding-inline: 5vh;
    scroll-snap-align: start;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
  }
  h2 {
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    margin: 0;
  }
  main > div > div {
    background-color: color-mix(in srgb, Gray 10%, Canvas);
    border-radius: 2rem;
    padding: 1rem 3rem;
    /* margin-inline: auto; */
    height: 80vh;
  }
  li {
    margin-block: 2rem;
  }
  iframe {
    position: relative;
    top: 27.5%;
    left: 25%;
    width: 50%;
    height: 45%;
    scale: 2;
  }

  .center { text-align: center }
  .centerblock {
    display: grid;
    place-content: center;
  }
  .balance { text-wrap: balance }

  .hide {
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
  }
  .reveal {
    opacity: 1;
    transition: opacity ease-in-out 0.5s;
  }

  .mgn { background-color: color-mix(in srgb, var(--mgn) var(--bgOpacity), Canvas) }
  .pch { background-color: color-mix(in srgb, var(--pch) var(--bgOpacity), Canvas) }
  .red { background-color: color-mix(in srgb, var(--red) var(--bgOpacity), Canvas) }
  .orn { background-color: color-mix(in srgb, var(--orn) var(--bgOpacity), Canvas) }
  .ylw { background-color: color-mix(in srgb, var(--ylw) var(--bgOpacity), Canvas) }
  .lim { background-color: color-mix(in srgb, var(--lim) var(--bgOpacity), Canvas) }
  .grn { background-color: color-mix(in srgb, var(--grn) var(--bgOpacity), Canvas) }
  .tqs { background-color: color-mix(in srgb, var(--tqs) var(--bgOpacity), Canvas) }
  .sky { background-color: color-mix(in srgb, var(--sky) var(--bgOpacity), Canvas) }
  .blu { background-color: color-mix(in srgb, var(--blu) var(--bgOpacity), Canvas) }
  .nav { background-color: color-mix(in srgb, var(--nav) var(--bgOpacity), Canvas) }
  .prp { background-color: color-mix(in srgb, var(--prp) var(--bgOpacity), Canvas) }
}

button:is(#show, #mode) {
  position: fixed;
  bottom: 0.5em;
  opacity: 0;
  transition: opacity 0.25s;
  &:hover { opacity: 0.75 }
  &:active { opacity: 1 }
}
button#show {
  left: 0.5em;
}
button#mode {
  right: 1.5em;
}

#intro img {
  float: right;
  width: 40%;
  margin: 5vh -5vh 0;
}