:root {
	--big-font: 1.5em;
	--header-height: 12dvh;

	--pop: 325 35%;
	--bg-pop: hsl(var(--pop) 20%);
}

* { box-sizing: border-box }

html {
	color-scheme: light dark;
	font-family: sans-serif;
	text-align: center;
	line-height: 1.6;
	font-size: max(1.5em, 3.5vw);
}

body { margin: 0 }

button {
	position: fixed;
	left: 0.5em;
	bottom: 0.5em;
	opacity: 0.1;
	transition: opacity 0.25s;
	&:hover { opacity: 0.75 }
	&:active { opacity: 1 }
}

main.show {
	scroll-snap-type: block mandatory;
	scroll-snap-stop: always;
	overflow-y: scroll;
	height: 100dvh;
	background-color: var(--bg-pop);
	background-color: color-mix(
		in srgb,
		var(--bg-pop) 90%, 
		Canvas
	);
	color: color-mix(
		in srgb,
		hsl(0 0% 75%) 80%, 
		Canvas
	);

	& section {
		width: 100%;
		height: 100dvh;
		overflow: hidden;
		scroll-snap-align: start;
		/* position: relative; */
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	& header {
		height: var(--header-height);
		line-height: var(--header-height);
		> * {
			margin: 0;
		}
	}

	.big {
		font-size: var(--big-font);
		font-weight: bold;
	}

	.content {
		height: calc(99dvh - var(--header-height));
		display: grid;
		place-content: center;
		padding: 2%;
		background: radial-gradient(
			circle,
			color-mix(in hsl, hsl(var(--pop) 50%) 30%, Canvas) 0%,
			color-mix(in hsl, hsl(var(--pop) 50%) 30%, Canvas) 20%,
			color-mix(in hsl, hsl(var(--pop) 50%) 20%, Canvas) 50%,
			Canvas 100%
		);
		color: color-mix(
			in srgb,
			CanvasText 50%, 
			grey
		);
		border-radius: 1.5dvh;
		margin: 0 1dvh;
	}
}

.left, ul {
	text-align: initial;
	&:not(.show &) {
		width: fit-content;
		margin-inline: auto;
	}
}
/* ul {
	width: fit-content;
	margin-inline: auto;
	outline: 1px dashed;
} */

.rainbow12 {
	background: linear-gradient(
		90deg, 
		rgba(128,16,112,1) 0%, 
		rgba(128,16,112,1) 8.33%, 
		rgba(160,48,80,1) 8.33%, 
		rgba(160,48,80,1) 16.67%, 
		rgba(192,96,96,1) 16.67%, 
		rgba(192,96,96,1) 26%, 
		rgba(224,144,64,1) 26%, 
		rgba(224,144,64,1) 34.33%, 
		rgba(224,208,0,1) 34.33%, 
		rgba(224,208,0,1) 42.67%, 
		rgba(144,208,80,1) 42.67%, 
		rgba(144,208,80,1) 51%, 
		rgba(64,208,128,1) 51%, 
		rgba(64,208,128,1) 59.33%, 
		rgba(32,192,176,1) 59.33%, 
		rgba(32,192,176,1) 67.67%, 
		rgba(0,176,192,1) 67.67%, 
		rgba(0,176,192,1) 76%, 
		rgba(0,144,192,1) 76%, 
		rgba(0,144,192,1) 84.33%, 
		rgba(48,96,176,1) 84.33%, 
		rgba(48,96,176,1) 92.67%, 
		rgba(96,48,144,1) 92.67%, 
		rgba(96,48,144,1) 100%
	);
}
.rainbow5 {
	background: linear-gradient(
		90deg, 
		rgba(160,48,80,1) 0%, 
		rgba(160,48,80,1) 20%, 
		rgba(224,144,64,1) 20%, 
		rgba(224,144,64,1) 40%, 
		rgba(224,208,0,1) 40%, 
		rgba(224,208,0,1) 60%, 
		rgba(64,208,128,1) 60%, 
		rgba(64,208,128,1) 80%, 
		rgba(48,96,176,1) 80%, 
		rgba(48,96,176,1) 100%
	);
}
.clip-text { 
	background-clip: text;
	-webkit-background-clip: text;
	color: color-mix(in srgb, CanvasText 25%, transparent);
}
.code {
	font-family: monospace;
}